.dropdown:hover .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
}

nav.sidebar .navbar-nav .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .dropdown-menu>li>a:focus {
    color: #ef5337;
    background-color: transparent;
}
.navbar-inverse .navbar-nav .dropdown-menu>li>a {
    color: #fff;
}
[data-reactroot] {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    }
a {
    cursor: pointer;
}


.spinner {
  width: 40px !important;
  height: 40px !important; 
  position: relative;
  margin: 20px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100% !important;
  height: 100% !important;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}