.signup-txt { padding-top:0px;}
.loin_btn { margin-bottom: 20px;}
.btn{margin-bottom: 20px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
        overflow: hidden;
        -webkit-appearance: none;
        border-radius: 25px;
        overflow: hidden;
        height: 30px;
        background-color: #8f8d8d;
        margin-bottom: 0px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 0px 20px 20px 0px;
        /*padding: 0px 16px 0px 0px;*/
    }
    input[type='range']::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        color: #13bba4;
        margin-top: -1px;
    }
    input[type='range']::-webkit-slider-thumb {
        -webkit-appearance: none;
        background-color: #EF5337;
        background-image: url(../images/progressbar_icon.png);
        background-repeat: no-repeat;
        background-position: 0px 7px;
        height: 30px;
        width: 25px;
        border: 1px solid #EF5337;
        border-radius: 25px;
        box-shadow: -100vw 0 0 99vw #EF5337;
        padding: 0px 10px 0px 15px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
    }
}


/** FF*/

input[type="range"]::-moz-range-progress {
    background-color: #43e5f7;
}

input[type="range"]::-moz-range-track {
    background-color: #9a905d;
}


/* IE*/

input[type="range"]::-ms-fill-lower {
    background-color: #43e5f7;
}

input[type="range"]::-ms-fill-upper {
    background-color: #9a905d;
}

.hideDiv{
    display: none;
}

.profileImg{
    border: 3px solid #fff;
    border-radius: 360px;
    width: 100%;
    height: 100%;
}

tbody>tr{
    cursor:pointer;
}

.chkBox{
    margin-right: 5px;
}

.ssl{
    width: 48%;
}

.soc{
    margin-left: 5px;
    width: 48%;
}

.margin2{
    margin-bottom: 2%;
}
.skipCrsk{
    padding-left: 0px;
    text-decoration: underline;
}
.range-left{
    padding-left: 10px;
    padding-top: 5px;
}
.range-right{
    padding-right: 10px;
    padding-top: 5px;
}
.small-spinner{
    width: 16px !important;
    height: 16px !important;
    position: relative;
    float: right;
}
.doc-txt a {
    display: inline-block;
}
#menu-wrap li label:after{ 
    top: 43%;
}
.token-msg{
    color: #ef5337;
    font-weight: bold;
    padding-left: 20%;
}
.cursor-default{
    cursor: default;
}