/* remove outer padding */
.navbar-nav{ width:100%; padding:0px 15px; }
	.main .row{
		padding: 0px;
		margin: 0px;
	}

	/*Remove rounded coners*/

	.sidebar {
		border-radius: 0px;
		background: #434343;
		height:auto;
		min-height:100%;
		 padding-top: 0px;
		border-right:4px solid #ef5337;
		/*height: calc(100% - 80px);*/
		border-top:0px;
		border-bottom:0px;
	}
	
	
	  .nav .open > a, .nav .open > a:focus, .nav .open > a:hover{border-bottom: 1px solid #5f5f5f;}
	nav.sidebar, .main{
		-webkit-transition: margin 200ms ease-out;
	    -moz-transition: margin 200ms ease-out;
	    -o-transition: margin 200ms ease-out;
	    transition: margin 200ms ease-out;
	}

	/* Add gap to nav and right windows.*/
	.main{
		padding: 10px  0 ;
	}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    color: #fff;
    background-color:transparent;
}
.main {
   		 position: relative;
   		 margin-left: 30px;
			float: right;
  		  width: 87%;
   		   vertical-align: top;
}

	/* .....NavBar: Icon only with coloring/layout.....*/

@media only screen and (max-width:1030px){
	
	.main {
   		 position: relative;
   		 margin-left: 30px;
			float: right;
  		  width:76%;
   		   vertical-align: top;
}

}


	/*small/medium side display*/
	@media (min-width: 768px) {

		/*Allow main to be next to Nav*/
		

		/*Center Brand*/
		nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
			margin-left: 0px;
			height: auto;
			padding:30px 25px;
		}
		/*Center Brand*/
		nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
			text-align: center;
			width: 100%;
			margin-left: 0px;
		}

		/*Center Icons*/
		/*nav.sidebar a{
			padding-right: 13px;
		}*/

		/*adds border top to first nav box */
		nav.sidebar .navbar-nav > li:first-child{
			
		}

		/*adds border to bottom nav boxes*/
		nav.sidebar .navbar-nav > li{
			
		}
		.navbar-inverse .navbar-nav > li > a
		{
			color:#fff;
			 padding:15px 0px !important;
			  border-bottom:1px solid #5f5f5f;
			 
			}
			.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover{ background-color:transparent !important;}

		/* Colors/style dropdown box*/
		nav.sidebar .navbar-nav .open .dropdown-menu {
			position: static;
			float: none;
			width: auto;
			margin-top: 0;
			background-color: transparent;
			border: 0;
			-webkit-box-shadow: none;
			box-shadow: none;
		}

		/*allows nav box to use 100% width*/
		nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
			padding: 0 0px 30px 0px;
		}

		/*colors dropdown box text */
		.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
			color: #fff;
		}

		/*gives sidebar width/height*/
		/*nav.sidebar{
		/*	width: 200px;
			height: 100%;
			float: left;
			z-index: 8000;
			margin-bottom: 0px;
		}
*/
		/*give sidebar 100% width;*/
		nav.sidebar li {
			width: 100%;
		}

		/* Move nav to full on mouse over*/
		nav.sidebar:hover{
			margin-left: 0px;
		}
		/*for hiden things when navbar hidden*/
		.forAnimate{
			opacity: 0;
		}
	}

	/* .....NavBar: Fully showing nav bar..... */

	@media (min-width: 1330px) {

		/*Allow main to be next to Nav
		.main{
			width: calc(100% - 200px); /*keeps 100% minus nav size
			margin-left: 200px;
			padding-top:80px;
		}*/

		/*Show all nav*/
		nav.sidebar{
			margin-left: 0px;
			float: left;
		}
		/*Show hidden items on nav*/
		nav.sidebar .forAnimate{
			opacity: 1;
		}
	}

	nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #ef5337;
		background-color: transparent;
	}

	nav:hover .forAnimate{
		opacity: 1;
	}
	






