.progress{overflow:hidden;height:30px; background-color:#8f8d8d; margin-bottom:0px;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius: 0px 20px 20px 0px; padding: 0px 16px 0px 0px;}

.progress span{padding-top: 5px; color:#fff;}
.progress .bar{width:0%; padding:0px 15px; height:100%;float:left;font-size:12px;text-align:center; font-size:15px; background-color:#EF5337; border-radius: 0px 20px 20px 0px;}
.dailypemant{ margin:0px; padding:0px; height:auto; width:100%; float:left; }
.dailypemant p{ width:30%; float:left; color:#000; text-align:right; padding-right:15px; margin-top:5px; font-weight:bold;}
.sell_reat{ margin:0px; padding:0px; height:auto; width:100%; float:left; }
.sell_reat p{ width:30%; float:left; color:#000; text-align:right; padding-right:15px; margin-top:5px; font-weight:bold;}
.term{ margin:0px; padding:0px; height:auto; width:100%; float:left; }
.term p{ width:50%; float:left; color:#000; text-align:right; padding-right:15px; margin-top:5px; font-weight:bold;}
 .limit1{ width:30% !important}
 .limit2{ width:30% !important}
 .limit3{width:50% !important}




.prog-wrap{position:relative; margin-bottom:30px;}
.prog-left-text {position: absolute; top: 0px; left: 13px; color: #fff; font-size:14px; line-height:20px;}
.prog-right-text {position: absolute; top: 0px; right: 13px; color: #fff; font-size:14px; line-height:20px;}
.prog-bar {margin-left: -1px;}


/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
       input[type='range'] {
        overflow: hidden;
        -webkit-appearance: none;
        border-radius: 25px;
        overflow: hidden;
        height: 30px;
        background-color: #8f8d8d;
        margin-bottom: 0px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 0px 20px 20px 0px;
		outline:none;
        /*padding: 0px 16px 0px 0px;*/
    }
    input[type='range']::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        color: #13bba4;
        margin-top: -1px;
    }
    input[type='range']::-webkit-slider-thumb {
        -webkit-appearance: none;
        background-color: #EF5337;
        background-image: url(../images/half-round.png);
        background-repeat: no-repeat;
        background-position: 0px 0px;
        height: 30px;
        width: 25px;
        border: 1px solid #EF5337;
        box-shadow: -100vw 0 0 99vw #EF5337;
        padding: 0px 10px 0px 15px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
		position:relative;
    }
	
	input[type="range"]::-webkit-range-progress {
    background-color: #EF5337;
	height:30px;
	}

	input[type="range"]::-webkit-range-track {
    background-color:#8f8d8d;
	height:30px;
	}
	
.prog-left-text {position: absolute; top: 6px; left: 13px; color: #fff; font-size:14px; }
.prog-right-text {position: absolute; top: 6px; right: 13px; color: #fff; font-size:14px; }

}


/** FF*/

input[type="range"]::-moz-range-progress {
    background-color: #EF5337;
	height:30px;
	border-radius:0px 10px 10px 0px;
}

input[type="range"]::-moz-range-track {
    background-color:#8f8d8d;
	height:30px;
	border-radius:0px 20px 20px 0px;
}

input[type='range']::-moz-range-thumb {
        -moz-appearance: none !important;;
        background-color: #EF5337;
        background-image: url(../images/half-round.png);
        background-repeat: no-repeat;
        background-position: 0px 1px;
        height: 28px;
        width:7px;
        border: 1px solid #EF5337;
        padding: 0px 10px 0px 8px;
		border-radius:0px 20px 20px 0px;
		position:relative;
    }





/* IE*/

input[type="range"]::-ms-fill-lower {
    background-color: #43e5f7;
}

input[type="range"]::-ms-fill-upper {
    background-color: #9a905d;
}